environment:
  matrix:
    - nodejs_version: '10'
    - nodejs_version: '8'
install:
  - ps: Install-Product node $env:nodejs_version
  - node --version
  - npm --version
  - npm install
test_script:
  - npm run test
build: off
