environment:
  matrix:
    - nodejs_version: '10'
    - nodejs_version: '8'
    - nodejs_version: '6'
install:
  - ps: Install-Product node $env:nodejs_version
  - node --version
  - npm --version
  - npm install
test_script:
  - npm run test
on_success:
  - npm install -g codecov
  - codecov
build: off
