language: node_js
cache: npm
os: osx
node_js: '12'
install:
  - npm ci
  - npm install -g codecov c8
script:
  - npm run build
  - c8 npm run test
  - c8 report --reporter=text-lcov > coverage.lcov
  - codecov
  - c8 npm run test-client
  - c8 report --reporter=text-lcov > coverage.lcov
  - codecov
  - nvm install 10
  - npm run test
  - nvm install 8
  - npm run test
