/* .red>div */
._0>div {
	color: red;
}
/* .red>div, .red+.blue */
._0>div,
._0+._1 {
	color: red;
}
/* .red+.blue[data-state='0'] */
._0+._1[data-state='0'] {
	color: red;
}
/* .red+.blue:hover */
._0+._1:hover {
	color: red;
}
@media (max-width: 500px) {
	/* .red */
	._0 {
		color: green;
	}
	/* .red+.blue>*>.green */
	._0+._1>*>._2 {
		color: red;
	}
	/* .red+.blue>*>.green[data-state=abc] */
	._0+._1>*>._2[data-state=abc] {
		color: red;
	}
	/* .red+.blue>*>.green:active */
	._0+._1>*>._2:active {
		color: red;
	}
}
