@import './module1.css';

.red>div {
	color: red;
}
.red>div,
.red+.blue {
	color: red;
}
.red+.blue[data-state='0'] {
	color: red;
}
.red+.blue:hover {
	color: red;
}
@media (max-width: 500px) {
	.red {
		color: green;
	}
	.red+.blue>*>.green {
		color: red;
	}
	.red+.blue>*>.green[data-state=abc] {
		color: red;
	}
	.red+.blue>*>.green:active {
		color: red;
	}
	$1.one {
		color: red;
	}
}
