._baz_css_baz {
	baz: baz;
}
._bar_css_bar {
	bar: bar;
}
._bar_css_bar>._baz_css_baz {
	bar: baz;
}
._foo_css_foo {
	color: red;
}
[foo=false]._foo_css_foo {
	color: green;
}
@media (max-width: 400px) {
	._foo_css_foo {
		color: blue;
	}
}
@media (max-width: 800px) {
	._bar_css_bar>._baz_css_baz {
		foo: baz;
	}
	._foo_css_foo-bar {
		foo-bar: foo-bar;
	}
}
