._0{baz:baz;}
._1{bar:bar;}
._1>._0{bar:baz;}
._2{color:red;}
[foo=false]._2{color:green;}
@media (max-width: 400px){._2{color:blue;}}
@media (max-width: 800px){._1>._0{foo:baz;}._3{foo-bar:foo-bar;}}