.container {
	margin: 8px auto;
	padding: 8px 16px 16px 16px;
	border-radius: 3px;
	background-size: cover;
	color: #fff;
	text-shadow: 0 0 8px #000;
	&:nth-child(6n+1) {
		background-image: url(./bg01.jpg);
	}
	&:nth-child(6n+2) {
		background-image: url('./bg02.jpg');
	}
	&:nth-child(6n+3) {
		background-image: url("./bg03.jpg");
	}
	&:nth-child(6n+4) {
		background-image: url(./bg04.jpg);
	}
	&:nth-child(6n+5) {
		background-image: url('./bg05.jpg');
	}
	&:nth-child(6n) {
		background-image: url("./bg06.jpg");
	}
	&>h1 {
		margin: 10px auto 6px auto;
		font-size: 18px;
	}
	&>pre {
		margin: 0 auto;
		line-height: 1.5;
		white-space: pre;
	}
}
