@import './bar.css' bar;
@import './baz.css' baz;
.foo {
	color: red;
}
[foo=false].foo {
	color: green;
}
@media (max-width: 400px) {
	.foo {
		color: blue;
	}
}
@media (max-width: 800px) {
	bar.bar>baz.baz {
		foo: baz;
	}
	.foo-bar {
		foo-bar: foo-bar;
	}
}
