* {
	padding: 0;
	margin: 0 auto;
	color: inherit;
	font: inherit;
	text-decoration: inherit;
}

body {
	font: 400 14px -apple-system, BlinkMacSystemFont, arial, sans-serif;
	color: #333;
	&>* {
		width: 94%;
		max-width: 700px;
	}
}

a {
	text-decoration: underline;
}
