._module2_css_two {
	color: green;
}
._module1_css_one {
	color: red;
}
._module2_css_two {
	color: blue;
}
._style_css_red>div {
	color: red;
}
._style_css_red>div,
._style_css_red+._style_css_blue {
	color: red;
}
._style_css_red+._style_css_blue[data-state='0'] {
	color: red;
}
._style_css_red+._style_css_blue:hover {
	color: red;
}
@media (max-width: 500px) {
	._style_css_red {
		color: green;
	}
	._style_css_red+._style_css_blue>*>._style_css_green {
		color: red;
	}
	._style_css_red+._style_css_blue>*>._style_css_green[data-state=abc] {
		color: red;
	}
	._style_css_red+._style_css_blue>*>._style_css_green:active {
		color: red;
	}
	._module1_css_one {
		color: red;
	}
}
