@import './style-1.css' bar1-;
@import './style-2.css' bar2-;
.foo {
    --color: red;
    color: var(--color);
}
.bar1-bar > .foo {
    color: green;
}
.bar2-bar > .foo {
    color: pink;
}
@media print {
    .foo {
        color: var(--color);
    }
}
.raw-equal {
    color: purple;
}
