@import './style-1.css' bar;
@import './style-2.css';
.foo {
    --color: red;
    color: var(--color);
}
bar.bar > .foo {
    color: green;
}
$2.bar > .foo {
    color: pink;
}
@media print {
    .foo {
        color: var(--color);
    }
}
.=equal {
    color: purple;
}
