._style_css_red>div {
	color: red;
}
._style_css_red>div,
._style_css_red+._style_css_blue {
	color: red;
}
@media (max-width: 500px) {
	._style_css_red {
		color: green;
	}
	._style_css_red+._style_css_blue>*>._style_css_green {
		color: red;
	}
}
